.header2 {
    margin: 84px 163px 0 190px;
    display: flex;
    /* justify-content: space-between; */
}

.help {
    margin: 106px 127px 109px 0;
}
.help-1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000;
}
.help-2{
    width: 445px;
    margin-top: 25px;
    margin-bottom: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color:darkgrey;   
}
.help button{
    border-radius: 55px;
    cursor: pointer;
    width: 200px;
    height: 56px;
    border: 0;
    background: #458FF6;
    color: azure;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.imag{
    margin-right: 170px;
    margin-left: 109px;

}