.services {
    margin-top: 650px;
    display: grid;
    justify-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.services div:first-child{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 30px;
    /* border-bottom: 2px solid black;
    padding-bottom: 30px; */
}

 .whydontwork{   /*.services div:nth-child(2) */
    font-size: 18px;
    color: gray;
    margin-top: 40px;
    margin-left: 323px;
    margin-right: 325px; 
}

.services div:last-child{
    font-size: 18px;
    color: gray;
    margin-top: 15px;
    margin-left: 323px;
    margin-right: 325px; 
}