.aside {
    display: none;
    position: fixed;
    width: 0;
    height: 100%;
    top: 30%;
    left: 10%;
    z-index: 99;   
     
}
.aside.active {
    display: block;
    width: 100%;
}
.aside button {
    border-radius: 30px;
    background-color: #236967;
    border: none;
    color: #fff;
    padding: 12px 30px;
    
}
