.study-types{
    margin-left: 180px;
    display: flex;   
}
.study-types-1 {
    position: relative;
    padding-right: 100px;
}
.study-types-2 {
    position: relative;
}
.study-types-1-1{
    background-color: white;
    position: absolute;
    top: 55%;
    left: 30%;
    color: #000;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
.study-types-1-2{
    background-color: white;
    position: absolute;
    top: 75%;
    left: 30%;
    color: #000;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.study-types-2-1{
    background-color: white;
    position: absolute;
    top: 55%;
    left: 50%;
    color: #000;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
.study-types-2-2{
    background-color: white;
    position: absolute;
    top: 75%;
    left: 50%;
    color: #000;
    font-size: 24px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}

.study-lang {
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-left: 13%;
    margin-right: 10%;
    background-color: #FFFBED;
    border-radius: 70px;
    padding: 80px;
    padding-left: 175px;
}
.study-lang-1 {
    font-weight: 900;
    font-size: 24px;
    background-color: #FFECA0;
    background: linear-gradient(90deg, #FFECA0 40%, #FFFBED 40%);
}

.study-lang-2 {
    display: flex;
    /* justify-content: space-evenly; */
    gap: 40px;
    margin-top: 5%;
}

.study-lang-2 img {
    width: 40px;
}

.study-lang-2-1 p {
    margin-left: 30px;
}

.study-lang-2-1 {
    display: flex;
    align-items: center;
}







/*           */

@media (max-width:1300px) {
    .study-lang-2 {
        display: grid;
        align-items: center;
    }
    .study-lang {
        margin-right: 30%;
    }
}